html, body {
  height: 100%;
  margin: 0;
}

div#fullsize {
  min-height: 100%;
  margin: auto;
  text-align: center;
  background-color: #34495E;
}

div.section {
  vertical-align: top;
  display: inline-block;
  margin: auto;
  max-width: 400px;
  background-color: #C0392b;
  color: #ecf0f1;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

label {
  font-weight: bold;
}

div#result {
  text-align: left;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px;
}

div#result-panel {
  visibility: hidden;
  width: 0px;
}
